absl-py
altair
argon2-cffi
astor
astroid
astunparse
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
clang
click
colorama
cycler
debugpy
decorator
defusedxml
docopt
entrypoints
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
lazy-object-proxy
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy==
oauthlib
opt-einsum
packaging
pandas
pandas-datareader
pandocfilters
parso
pickleshare
Pillow
pipreqs
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-lear
scipy
seaborn
Send2Trash
six
sklearn
smmap
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
toml
toolz
tornado
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
yarg
